<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gitlab.alvin_nt.if4073_pengcit" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LandingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasicImageFilterActivity"
            android:label="@string/title_activity_basic_image_filter" >
        </activity>
        <activity
            android:name=".ColorViewActivity"
            android:label="@string/title_activity_color_view" >
        </activity>
        <activity
            android:name=".HistogramActivity"
            android:label="Histogrm Equalization" >
        </activity>
        <activity
            android:name=".NumberDetectionActivity"
            android:label="Histogrm Equalization" >
        </activity>
        <activity
            android:name=".OtsuActivity"
            android:label="@string/title_activity_otsu" >
        </activity>
        <activity
            android:name=".ZhangSuenActivity"
            android:label="@string/title_activity_zhang_suen" >
        </activity>
        <activity
            android:name=".ChainCodeActivity"
            android:label="@string/title_activity_chain_code" >
        </activity>
        <activity
            android:name=".EdgeDetectionActivity"
            android:label="@string/title_activity_edge_detection" >
        </activity>
        <activity
            android:name=".EdgeDetectionFirstOrderActivity"
            android:label="@string/title_activity_edge_detection_first_order" >
        </activity>
        <activity
            android:name=".FaceDetectionColorMapActivity"
            android:label="@string/title_activity_face_detection_colormap" >
        </activity>
        <activity
            android:name=".FaceDetectionKMeansActivity"
            android:label="@string/title_activity_face_detection_kmeans" >
        </activity>
        <activity
            android:name=".EdgeDetectionSecondOrderActivity"
            android:label="@string/title_activity_edge_detection_second_order" >
        </activity>
    </application>

</manifest>
